@charset "UTF-8";
html{
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    cursor:default;
    list-style-type: none;
    -webkit-appearance:none;
}
a {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.body{
    font-family:"Tahoma,Arial,Roboto,”Droid Sans”,”Helvetica Neue”,”Droid Sans Fallback”,”Heiti SC”,”Hiragino Sans GB”,Simsun,sans-self;
    margin: 0 auto;
}

img{
    width: 100%;
    display: block;
}
a{
    color: #000000;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
a,img,button,input,textarea {
    -webkit-tap-highlight-color:rgba(255,255,255,0);
}
.tour{
    width: 100%;
    height: 5rem;
    border-bottom: 1px solid #000000;
    position: relative;
}
.tour1{
    position: absolute;
    top:1rem;
    left: 2%;
}
.tour p{
    text-align: center;
    line-height: 5rem;
    font-size: 1.8rem;
}
.tour2{
    position: absolute;
    top:1rem;
    right: 2%;
}
figure{
    margin: 0 auto;
    border-left: 1px solid #b4b4b4;
    border-right: 1px solid #b4b4b4;
}
figure img{
    border-radius: 0.1rem;
}
figure p {
    padding-top: 1rem;
    font-size:1.3rem;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align:left;
    padding-left: 2%;
}
figure div em{
    font-style: normal;
    font-size:1.6rem;
    line-height:3rem;
    color: red;
    padding-left: 2%;
}
figure div a {
    float: right;
}
figure div a button{
    font-size:1.4rem;
    margin-top: -0.5rem;
    height:30px;
    width: 8rem;
    color: green;
    background-color: #ffffff;
    border:1px solid green;
    border-radius: 6px;
    text-align: center;
    outline: none;
    margin-right: 1.5rem;
}
.sjxx {
    max-width: 640px;
    margin: 0 auto;
    height: 70px;
}
.sjxx .pclass1{
    line-height: 70px;
    font-size:1.3rem;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 2%;
}
.sjxx .pclass2{
    line-height: 35px;
    font-size:1.3rem;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 2%;
}

/*轮播*/
body{ margin:0; padding:0;-webkit-appearance:none;}
.addWrap{ position:relative; width:100%;background:#fff;margin:0; padding:0;}
.addWrap .swipe{overflow: hidden;visibility: hidden;position:relative;}
.addWrap .swipe-wrap{overflow:hidden;position:relative;}
.addWrap .swipe-wrap > div {float: left;width: 100%;position:relative;}

#position{ position:absolute; bottom:0; right:0; padding-right:8px; margin:0; background:#000; opacity: 0.4; width:100%; filter: alpha(opacity=50);text-align:center;}
#position li{width:10px;height:10px;margin:0 2px;display:inline-block;-webkit-border-radius:5px;border-radius:5px;background-color:#AFAFAF;}
#position li.cur{background-color:#FF0000;}
.img-responsive { display: block; max-width: 100%;  height: auto;}
